:root {
  --border-radius: 1.3rem;
}

* {
  margin: 0;
}

.calander-container {
  padding: 2rem;
}

body {
  font-family: "Courier New", Courier, monospace;
  background: url(/images/background.jpg) no-repeat transparent center;
}

h1 {
  color: lightcyan;
  margin-bottom: 2rem;
}

.border-calander {
  position: absolute;
  left: 1.5rem;
  width: 1045px;
  height: 675px;
  border: rgb(53, 109, 192) solid 10px;
  border-radius: var(--border-radius);
}

.calander-month {
  display: inline-grid;
  background: rgba(46, 185, 173, 0.89);
  grid-template-columns: repeat(7, 150px);
  grid-template-rows: 3rem 2.5rem repeat(6, 100px);
  border-radius: var(--border-radius);
}

#month-title {
  color: blue;
  grid-column: 1 / -1;
  margin-top: 0.4rem;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
#month-title,
.calander-date,
.calander-cell {
  font-size: 1.3rem;
  padding: 0.4rem;
  border: rgb(36, 24, 143) solid 0.2rem;
}
.calander-cell {
  color: rgb(255, 255, 189);
  text-align: right;
}
.buttons {
  margin-bottom: 1rem;
}
.btn {
  border: none;
  text-transform: uppercase;
  background: rgba(20, 20, 255, 0.4);
  color: white;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.btn:hover {
  background: rgba(60, 50, 200, 0.4);
}
